<div class="row h-100 mb-5">
  <div class="col col-md-8 m-auto">
    <h1>Editing <%= display.name %></h1>
    <p>Adjust display parameters here.</p>
    <form action="/display/<%= display.path %>" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Display name</label>
        <input type="text" name="name" class="form-control" value="<%= display.name %>" />
      </div>
      <div class="form-group">
        <label for="aspect_ratio">Aspect ratio</label>
        <input type="text" class="form-control" value="<%= display.aspect_ratio %>" readonly />
      </div>
      <div class="form-group">
        <div class="row mb-2">
          <div class="col my-1">
            <div class="rounded p-1 m-auto" style="height: <%= display.height %>px; width: <%= display.width %>px; border: 2px solid #212529;">
              <div id="image" style="background-image: url('/images/<%= display.filename %>'); background-color: #000000; height: 100%;">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
        <label class="mt-2">Upload image</label>
        <div class="custom-file">
          <input type="file" name="image" class="custom-file-input" />
          <label class="custom-file-label">Choose image...</label>
        </div>
      </div>
      <input type="submit" class="btn btn-dark w-100" value="Save">
    </form>
  </div>
</div>